.contacts {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  min-height: 100vh;
  background-image: url("../img/russia.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  &__main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 50px;
    color: var(--color-gray);
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
  }
}

.order-link {
  font-size: vw(120);
  color: var(--color-blue);
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #ff4664;
    transition: color 0.3s ease-in-out;
  }
}

.contact {
  font-weight: 700;
  line-height: vw(120);
  letter-spacing: -0.02em;
}

.phone-number {
  font-size: vw(100);
}

.email {
  font-size: vw(120);
}
