.greencup {
  &__text {
    margin-bottom: 55px;
  }
}

.work-container {
  padding-top: 110px;
}

.work-title {
  margin-bottom: 15px;
  margin-left: 17.5vw;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}

.work-text {
  margin-left: 17.5vw;
  max-width: 930px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.greencup-animation {

  &__rect {
    fill: #ff794a;
  }

  &__circle {
    fill: var(--color-green);
    animation: circle 15s infinite;
  }

  &__path {
    fill: none;
    stroke: var(--color-white);
    stroke-dasharray: 15000;
    stroke-dashoffset: 15000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 25.87px;
    animation: dash-green 15s infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes dash-green {
  from {
    stroke-dashoffset: 15000;
    transform: translate(0, 240px) scale(1);
  }

  to {
    stroke-dashoffset: 0;
    transform: translate(-50%, 0) scale(2);
  }
}

.work-second-title {
  margin-top: 25px;
}

.work-second-text {
  margin-bottom: 0;
}

.work-pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 115px;
  width: 100%;
}

.work-img {
  width: 100%;
}

.work-solgan {
  margin: 20px 30px 100px 180px;
  max-width: 70vw;
  font-weight: 700;
  font-size: vw(120);
  line-height: vw(120);
  color: var(--color-green);
}

.work-authors {
  display: flex;
  margin-bottom: 115px;
  padding-top: 42px;
  padding-left: 20px;
}

.designer {
  margin-right: 22px;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  &__name {
    font-weight: 400;
    font-size: 20px;
  }
}

.copywriter {

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  &__name {
    font-weight: 400;
    font-size: 20px;
  }
}
