.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: transparent;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
  }
}

.logo {
  z-index: 100;
  display: inline-block;
  width: 120px;
  height: 122px;
}

.cls-1,
.cls-2 {
  fill: var(--color-black);
}

.cls-2 {
  stroke: var(--color-black);
  stroke-miterlimit: 10;
  stroke-width: 0.02px;
}

.nav {
  &__list {
    display: flex;
    padding-top: 10px;
  }

  &__item {
    transition: transform 0.3s ease-in-out;

    &:not(:last-child):hover {
      transform: translateY(-3px);
      transition: transform 0.3s ease-in-out;
    }

    &:not(:first-child) {
      margin-left: 43px;
    }
  }

  &__link {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 32px;
    color: var(--color-black);

    &--order {
      padding: 15px;
      color: var(--color-white);
      background-color: var(--color-blue);
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #ff4664;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}

.active-menu {
  color: var(--color-blue);
}
