.order {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 112px;
    width: 100%;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding-left: 16.5vw;
  }

  &__title {
    margin-left: 16.5vw;
    max-width: 550px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: var(--color-black);
  }

  &__dsr {
    margin-top: 15px;
    margin-left: 16.5vw;
    max-width: 900px;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-black);
  }

  &__media {
    align-self: flex-end;
  }
}
