.media {
  &__item {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    z-index: 100;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-black);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-blue);
      transition: color 0.3s ease-in-out;
    }
  }
}

.copyright {
  margin-top: 55px;

  &__text {
    font-weight: 400;
    font-size: 20px;
  }
}
