.works {
  padding-top: 130px;

  &__container {
    padding: 0;
  }

  &__dsr {
    margin-bottom: 50px;
    padding: 0 17.5vw;
    max-width: 83vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-black);
  }

  &__body {
    display: flex;
    padding: 0 20px;
    width: 100%;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__order-link {
    font-weight: 700;
    font-size: vw(150);
    letter-spacing: -0.02em;
  }

  &__phone-number {
    font-weight: 500;
    font-size: 50px;
    color: var(--color-black);
  }

  &__email {
    font-weight: 500;
    font-size: 50px;
    color: var(--color-black);
  }
}

.work-link {
  width: 50%;

  &:first-child {
    margin-right: 20px;
  }
}

.work {
  overflow: hidden;
  width: 100%;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: vw(50);
    line-height: vw(60);
    color: var(--color-black);
  }

  &__dsr {
    max-width: 90%;
  }
}

.work-3 {
  margin-top: 115px;

  &__picture {}

  &__rect {
    fill: #ff794a;
  }

  &__circle {
    fill: #9be55c;
  }

  &__path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 25.87px;
    stroke-dasharray: 11000;
    stroke-dashoffset: 11000;
    /* animation: dash 15s infinite;
    animation-fill-mode: forwards; */
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 11000;
    transform: scale(1);
  }

  to {
    stroke-dashoffset: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

.works-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 60px 20px 50px;
}


/* &__picture {
  overflow: hidden;
  margin-bottom: -7px;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }
}

&__rect {
  fill: #353b3d;
}

&__path {
  fill: none;
  stroke: #9be55c;
  stroke-dasharray: 11000;
  stroke-dashoffset: 11000;
  stroke-miterlimit: 10;
  stroke-width: 6.29px;
  animation: dash 15s infinite;
  animation-fill-mode: forwards;
}
}

@keyframes dash {
from {
  stroke-dashoffset: 11000;
  transform: scale(1);
}

to {
  stroke-dashoffset: 0;
  transform: translate(-50%, -50%) scale(2);
}
}
 */
