.works {
  padding-top: 190px;

  &__container {
    padding: 0;
  }

  &__dsr {
    margin-left: 17.7vw;
    max-width: 900px;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-black);
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__order-link {
    font-weight: 700;
    font-size: vw(150);
    letter-spacing: -0.02em;
  }

  &__phone-number {
    font-weight: 500;
    font-size: 50px;
    color: var(--color-black);
  }

  &__email {
    font-weight: 500;
    font-size: 50px;
    color: var(--color-black);
  }
}

.work {
  overflow: hidden;

  &__title {
    position: absolute;
    left: 20px;
    top: 10px;
    font-weight: 500;
    font-size: vw(50);
    line-height: vw(60);
  }
}

.work-1 {
  width: 100%;

  &__title {
    color: var(--color-white);
  }

  &__picture {
    overflow: hidden;
    margin-bottom: -7px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s ease-in-out;
    }
  }

  &__rect {
    fill: #353b3d;
  }

  &__path {
    fill: none;
    stroke: #9be55c;
    stroke-dasharray: 11000;
    stroke-dashoffset: 11000;
    stroke-miterlimit: 10;
    stroke-width: 6.29px;
    animation: dash 15s infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 11000;
    transform: scale(1);
  }

  to {
    stroke-dashoffset: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

.work-2 {
  width: 100%;

  &__title {
    color: var(--color-black);
  }

  &__picture {
    overflow: hidden;
    margin-bottom: -7px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s ease-in-out;
    }
  }

  &__rect {
    fill: #a7acb7;
  }

  &__cls-2 {
    fill: url("#linear-gradient");
  }

  &__cls-3 {
    fill: url("#linear-gradient-2");
  }

  &__cls-4 {
    fill: url("#linear-gradient-3");
  }

  &__cls-5 {
    fill: url("#linear-gradient-4");
  }

  &__cls-6 {
    fill: url("#linear-gradient-5");
  }

  &__cls-7 {
    fill: url("#linear-gradient-6");
  }

  &__cls-8 {
    fill: var(--color-white);
  }
}

.work-3 {
  margin-top: 19px;
  width: 100%;

  &__title {
    top: 25px;
    color: var(--color-white);
  }

  &__picture {
    overflow: hidden;
    margin-bottom: -7px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s ease-in-out;
    }
  }

  &__rect {
    fill: var(--color-blue);
  }

  &__path {
    fill: var(--color-white);
  }
}

.work-link {
  position: relative;
  width: 50%;

  &:last-child {
    width: 100%;
  }
}

.works-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 60px 20px 50px;
}
