.works {
  padding-top: 130px;

  &__container {
    padding: 0;
  }

  &__dsr {
    margin-bottom: 50px;
    padding: 0 17.5vw;
    max-width: 83vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-black);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
  }
}

.work-link {
  width: 50%;

  &:hover .work__title {
    color: var(--color-red);
    transition: color 0.5s ease-in-out;
  }

  &:hover .work__img {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }

  &:first-child {
    margin-right: 20px;
  }
}

.work {
  overflow: hidden;
  width: 100%;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: vw(50);
  }

  &__dsr {
    max-width: 90%;
  }

  &__img {
    display: block;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  &__img-wrap {
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
}

.work-wide {
  margin-top: 120px;
  margin-bottom: 90px;

  &__bg {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-image: url("../../img/candy_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-black);
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  &__title {
    padding-top: 5px;
    padding-left: 20px;
  }

  &__dsr {
    padding-left: 20px;
    max-width: 950px;
    line-height: 40px;
  }
}

.work-6 {
  &__bg {
    background-image: url("../../img/equinox-bg.jpg");
  }
}
