html {
  overflow: -moz-scrollbars-none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'PT Root UI', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

span {
  display: block;
}

input,
textarea {
  outline: none;
}

.container {
  /* max-width: 1250px; */
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-body {
  width: 100%;
  margin: 0px auto;
}
